body{
  font-family: Arial;
}
.label {
  color: #58595B;
  float: left;
  font-size: 13px;
  font-weight: normal;
  padding-right: 10px;
  text-align: left;
  width: 200px;
}
.taxinfo .label{
  text-align: left;
}
#register-form label.error {
  color:#FB3A3A;
  font-weight:bold;
}
h1 {
  font-family: Helvetica;
  font-weight: 100;
  color:#333;
  text-align: center;
}
fieldset {
  background: none repeat scroll 0 0 #F5F5F5;
  border: medium none;
  border-radius: 12px 12px 12px 12px;
  margin: 0 auto;
  padding: 20px;
  width: 650px;
}
legend {
  color: #58595b;
  padding-top: 40px;
}
#status{
  font-size: 13px;
  font-weight: bold;
}
.searchcus .label {
  font-weight: bold;
}
.ajax-file-upload-statusbar {
border:0px solid #0ba1b5;
width:400px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
margin:5px;
padding:5px;
}

.ajax-file-upload-filename {
width:100%;
font-size: 13px;
height:auto;
color:#807579;
margin:0 5px 5px 10px;
}

.ajax-file-upload-progress {
position:relative;
width:250px;
border:1px solid #ddd;
border-radius:3px;
display:inline-block;
margin:0 10px 5px;
padding:1px;
}

.ajax-file-upload-bar {
background-color:#0ba1b5;
width:0;
height:20px;
border-radius:3px;
}

.ajax-file-upload-percent {
position:absolute;
display:inline-block;
top:3px;
left:48%;
}

.ajax-file-upload-red {
-moz-box-shadow:inset 0 39px 0 -24px #e67a73;
-webkit-box-shadow:inset 0 39px 0 -24px #e67a73;
box-shadow:inset 0 39px 0 -24px #e67a73;
background-color:#e4685d;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
display:inline-block;
color:#fff;
font-family:arial;
font-size:13px;
font-weight:400;
text-decoration:none;
text-shadow:0 1px 0 #b23e35;
cursor:pointer;
vertical-align:top;
padding:4px 15px;
}

.ajax-file-upload-green {
background-color:#77b55a;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
display:inline-block;
color:#fff;
font-family:arial;
font-size:13px;
font-weight:400;
text-decoration:none;
cursor:pointer;
text-shadow:0 1px 0 #5b8a3c;
vertical-align:top;
margin:0;
padding:4px 15px;
}

.ajax-file-upload {
font-family:Arial,Helvetica,sans-serif;
font-size:14px;
font-weight:700;
cursor:pointer;
line-height:20px;
display:inline-block;
text-decoration:none;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
color:#fff;
background:#2f8ab9;
border:0;
-moz-box-shadow:0 2px 0 0 #13648d;
-webkit-box-shadow:0 2px 0 0 #13648d;
box-shadow:0 2px 0 0 #13648d;
margin:0 10px 10px 0;
padding:6px 10px 4px;
}

.ajax-file-upload:hover {
background:#3396c9;
-moz-box-shadow:0 2px 0 0 #15719f;
-webkit-box-shadow:0 2px 0 0 #15719f;
box-shadow:0 2px 0 0 #15719f;
}

.ajax-upload-dragdrop {
border:1px solid #a5a5c7;
width:400px;
color:#dadce3;
text-align:left;
vertical-align:middle;
padding:5px 5px 0;
}
#loading {
  background-color: rgba(0, 0, 0, 0.5);
  height: 2000px;
  left: 43%;
  margin-left: -629px;
  margin-top: -400px;
  position: fixed;
  top: 50%;
  width: 110%;
  z-index: 9000;
}
#iframeloading {
  margin: 0 auto;
  text-align: center;
}
#btnSubmit{
  padding: 7px;
}
.searchcus{
  padding: 20px 0 0 21px;
}
#tax-collection {
  background: none repeat scroll 0 0 #E9E9E7;
  border-radius: 20px 20px 20px 20px;
  margin: 0 auto;
  padding: 15px;
  width: 700px;
}
#taxReseller {
  color: #58595b;
  float: left;
  font-size: 12px;
 /* padding-right: 10px;*/
  width: 49%;
}
#taxExmpt {
  color: #58595b;
  float: right;
  font-size: 12px;
/*  padding-left: 10px;*/
  width: 49%;
}
#addReseller ,#addTaxExmpt ,.remSell ,.remTaxExmpt {
  background: #EDEDED;
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  color: #58595B;
  font-size: 10px;
  padding: 5px;
  outline: none;
  text-decoration: none;
}
.remSell,.remTaxExmpt {
  float: left;
  margin: 9px 5px 10px 0;
}
#taxReseller p ,#taxExmptState p {
  clear: both;
  border-top: 1px solid #58595B;
  color: #58595B;
  padding-top: 10px;
}
#taxReseller select ,#taxExmptState select,#taxReseller input,
#taxExmptState input  {
  font-size: 11px;
}
.btnSubmit {
  margin-left: 0 !important;
  text-align: center;
}
.error {
 /* clear: both;*/
  color: #FF0000;
  float: left;
  font-size: 13px;
  /*margin-left: 212px;*/
}
label.error{
  padding: 5px 0 0 5px;
}
input[type="text"] {
  width: 215px;
}
#loading center{
  background: none repeat scroll 0 0 #EEEEEE;
  left: 44%;
  position: relative;
  width: 191px;
}
.req {
    color: #FF0000;
}
.taxquestion .label{
  width:100%;
}
#filData {
  font-size: 11px;
  padding-left: 15px;
}
#loading img {
  /*height: 50px;*/
}
.nomatch {
  border: 1px dotted #000000;
  color: #FF0000;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
}
.nomatchdrop {
  border: 1px dotted #000000;
  color: #FF0000;
  font-size: 11px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.info {
    border: 1px dotted #000000;
    color: #199615;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 12px;
    text-align: left;
}
#editContactInfo {
    color: #0000FF;
    float:right; 
    padding-right:5px;
    font-size: 13px;
    cursor: pointer;
}